
<header class="masthead">
<link href="https://startbootstrap.github.io/startbootstrap-grayscale/css/styles.css" rel="stylesheet" />

		
	
		<header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    
			        	<h1>List article</h1>

						<%= render 'form' %>
						 
						<%= link_to 'Back', articles_path %>
					
                </div>
            </div>
        </header>
</header>


  <body>



  </body>
