
<header class="masthead">
<link href="https://startbootstrap.github.io/startbootstrap-grayscale/css/styles.css" rel="stylesheet" />


	<h1 style = "padding: 30px; text-align: center;">Write article</h1>

	<%= render 'form' %>
	 
	<%= link_to 'Back', articles_path %>
					
</header>

